{% extends "base_caafi.html" %}
{% load static from static %}
{% block title %} Categorías | {{ language.name }}{% endblock %}

{% block content %}
<h2 class="title text-center">Categorías<br/></h2>
	<div class="">
		{% for category in categories|dictsort:"name" %}
			<div class="category-section col-xs-12 col-md-4">
				<a class="row" href="{% url "subcategories" language.slug category.slug %}">
					<div class="col-xs-12 category-content">
						<div class="row">
							<img class="col-xs-12" class="img-responsive" src="{{ category.image.url }}" />
						</div>
						<!--<div class="row">
							<p class="col-xs-6 col-xs-offset-3 text-gray">{{category.subcategories.count}} Subcategorías</p>
						</div>-->
					</div>
					<div class="col-xs-12">
						<div >
							<h4>{{ category.name }}<br><small>{{ category.description }}</small></h4>
						</div>	
					</div>
				</a>		
			</div>
		{% empty %}
			<h3 class="text-center">No existen categorías registradas aún.</h3 class="text-center">
		{% endfor %}
	</div>
{% endblock %}
{% block footer %}
	<p>Centro de Auto Acceso de la Facultad de idiomas</p>
	<a class="text-success" href="" data-toggle="modal" data-target="#myModal">¿Dudas, comentarios o sugerencias? ¡Escríbenos!</a>
{% endblock %}