{% extends "base_caafi.html" %}
{% load static from static %}
{% block title %} Lista de material {% endblock %}

{% block menu %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categorías<span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		{% for category in categories|dictsort:"name" %}
			<li><a href="{% url "subcategories" category.language.slug category.slug %}">{{category.name}}</a></li>
		{% endfor %}
	</ul>
</li>
{% endblock %}

{% block content %}
	<h2 class="title text-center">{{ category }}</h2>
	<div class="list-group">
		{% for subcategory in subcategories|dictsort:"name" %}
			<a class="text-justify list-group-item subcategory" href="{% url "urls" language.slug category.slug subcategory.slug %}">{{ subcategory.name }}<p class="small text-right"> {{ subcategory.urls_subcategory.count }} direcciones</p></a>
		{% empty %}
			<h3 class="text-center">No existen subcategorías registradas aún.</h3>
		{% endfor %}
	</div>
{% endblock %}
{% block footer %}
	<a class="text-success" href="" data-toggle="modal" data-target="#myModal">¿Dudas, comentarios o sugerencias? ¡Escríbenos!</a>
{% endblock %}