{% extends "base_caafi.html" %}
{% load static from static %}
{% block title %} Lista de material {% endblock %}

{% block menu %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categorías<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        {% for category in categories|dictsort:"name" %}
            <li><a href="{% url "categories" category.language.slug %}">{{category.name}}</a></li>
        {% endfor %}
    </ul>
</li>
{% endblock %}

{% block content %}
    <h2 class="title text-center">{{ language.subcategory }}</h2>
    <table id="categories" class="display table-bordered table-responsive">
        <thead>
        <tr class="title">
            <th>Nivel</th>
            <th>Comp primaria</th>
            <th>Comp secundaria</th>
            <th>Ejercicio</th>
            <th>Contenido</th>
            <th>Correción</th>
            <th>Descripción</th>
            <th>Dirección</th>
        </tr>
        </thead>
        <tbody>
        {% for url in urls %}
            <tr class="urls-list">
                {% if url.level == 'A1' %}
                    <td>{{ url.level }} <i class="text-danger text-A1 fa fa-circle"></i></td>
                {% elif url.level == 'A2' %}
                    <td>{{ url.level }} <i class="text-danger text-A2 fa fa-circle"></i></td>
                {% elif url.level == 'B1' %}
                    <td>{{ url.level }} <i class="text-danger text-B1 fa fa-circle"></i></td>
                {% elif url.level == 'B2' %}
                    <td>{{ url.level }} <i class="text-danger text-B2 fa fa-circle"></i></td>
                {% elif url.level == 'C1' %}
                    <td>{{ url.level }} <i class="text-danger text-C1 fa fa-circle"></i></td>
                {% elif url.level == 'C2' %}
                    <td>{{ url.level }} <i class="text-danger text-C2 fa fa-circle"></i></td>
                {% endif %}
                <td>{{ url.primary_competence }}</td>
                <td>{{ url.secondary_competence }}</td>
                <td>{{ url.kind_exercise }}</td>
                <td>{{ url.kind_item }}</td>
                {% if url.kind_correction == 'SI' %}
                    <td>Sí, sin explicación</td>
                {% elif url.kind_correction == 'SI+' %}
                    <td>Sí, con explicación</td>
                {% elif url.kind_correction == 'NO' %}
                    <td>No tiene</td>
                {% else %}
                    <td>No aplica</td>
                {% endif %}
                <td>{{ url.description }}</td>
                <td id="url"><a href="{{ url.address }}" target="_blank">{{ url.address }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <form class="col-xs-12 col-sm-10 col-md-3" action="/url/add" method="post" id="agregar_url">{% csrf_token %}
            <input type="submit" value="Reportar enlace caído" id="btn-reported" class="btn btn-warning btn-custom"/>
        </form>
    </div>
{% endblock %}