body {
	padding-top: 70px;
}

footer {
	width: 100%;
	padding: 0.5% 0;
	background-color: #EEEEEE;
	position: fixed;
	bottom: 0;
}

h1 {
	display: none;
}

p {
	margin: 0.5% 0;
}

.main {
	margin-bottom: 100px;
}

a {
	color: #111111;
}

a:hover, a:focus {
	text-decoration: none;
	color: #337AB7;
}

h2 {
	color: #111111;
}

.category-content {
	background-color: #D33333;
	height: 10em;
	margin-bottom: 2%;
	text-align: center;
	padding-top: 5%;
}

.navbar {
	background: #FFFFFF;
	border-bottom: 1px solid #33B77A;
}

.navbar-default .navbar-brand, .navbar-brand:focus, .navbar-nav > li > a, .navbar-nav > li > a:focus {
	color: #666666;
}

.navbar-default .navbar-brand:hover, .navbar-nav > li > a:hover{
	color: #000000;
}

.text-gray {
	color: #222222;
}

/*#logo-color {
	width: 100%;
}*/