{% load static from static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!--Block title-->
        <title>{% block title %}Material en línea CAAFI{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!--Block style-->
        {% block style %}{% endblock %}
    </head>

    <body>        

        {% block navbar %}{% endblock %}
        <!--Block content-->
        {% block content %}{% endblock %}

        <footer class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
            	<div class="text-center">
	                <p>Universidad Veracruzana</p>
	                <p>Centro de Auto Acceso de la Facultad de idiomas</p>
            	</div>
            </div>
        </footer>
        <script src="https//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock %}
    </body>

</html>